{{> header}}


<h1 class="header">{{Titulo}}</h1><div class="container"><div class="estatico"><form action="http://localhost:8080/productos" method="post"> <h2>Datos</h2><p> <input type="text" name="Data"/></p><p> <input type="submit" value="Enviar"/></p></form></div><div class="Resultado"><h2>{{id}}</h2><h2>{{Resultado}}</h2></div></div>



{{> footer}}