body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.estatico {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 20px;
    padding: 20px;
    width: fit-content;
    grid-area: 'estatico';
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header{
    grid-area: 'header';
}

.Resultado {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 20px;
    padding: 20px;
    width: max-content;
    height: min-content;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
  }